In [1]:
import yfinance as yf

In [ ]:
ticker = 'MSFT' # symbol, 정확한 symbol이 들어와야 응답함 
msft = yf.Ticker(ticker)
msft

yfinance.Ticker object <MSFT>

In [ ]:
# 프롬프팅?
basic_info = {
    '회사명' : msft.info.get('longName')
,'산업' : msft.info.get('industry')
, '부분' : msft.info.get('sector')
, '시가총액' : msft.info.get('marketCap')
, '총 발행주식수' : msft.info.get('share')
}

In [7]:
for key, value in basic_info.items():
    print(f'{key}:{value}')

회사명:Microsoft Corporation
산업:Software - Infrastructure
부분:Technology
시가총액:3748101619712

In [9]:
# 재무재표 정보 가져오기 
income_statment = msft.financials #손익계산서
balance_sheet = msft.balance_sheet #대차대조표 
cashflow_statment = msft.cash_flow #현금흐름표

In [11]:
income_statment.head()

,2025-06-30,2024-06-30,2023-06-30,2022-06-30
Tax Effect Of Unusual Items,-7.721784e+07,-1.000900e+08,-2.850000e+06,4.375400e+07
Tax Rate For Calcs,1.762960e-01,1.823130e-01,1.900000e-01,1.310000e-01
Normalized EBITDA,1.606030e+11,1.335580e+11,1.051550e+11,9.990500e+10
Total Unusual Items,-4.380000e+08,-5.490000e+08,-1.500000e+07,3.340000e+08
Total Unusual Items Excluding Goodwill,-4.380000e+08,-5.490000e+08,-1.500000e+07,3.340000e+08

In [12]:
balance_sheet.head()

,2025-06-30,2024-06-30,2023-06-30,2022-06-30,2021-06-30
Ordinary Shares Number,7.434000e+09,7.434139e+09,7.432000e+09,7.464000e+09,NaN
Share Issued,7.434000e+09,7.434139e+09,7.432000e+09,7.464000e+09,NaN
Net Debt,1.290900e+10,3.331500e+10,1.253300e+10,3.585000e+10,NaN
Total Debt,6.058800e+10,6.712700e+10,5.996500e+10,6.127000e+10,NaN
Tangible Book Value,2.013660e+11,1.216600e+11,1.289710e+11,8.772000e+10,NaN

In [13]:
cashflow_statment.head()

,2025-06-30,2024-06-30,2023-06-30,2022-06-30,2021-06-30
Free Cash Flow,7.161100e+10,7.407100e+10,5.947500e+10,6.514900e+10,NaN
Repurchase Of Capital Stock,-1.842000e+10,-1.725400e+10,-2.224500e+10,-3.269600e+10,NaN
Repayment Of Debt,-3.216000e+09,-2.907000e+10,-2.750000e+09,-9.023000e+09,NaN
Issuance Of Debt,0.000000e+00,2.439500e+10,0.000000e+00,0.000000e+00,NaN
Issuance Of Capital Stock,2.056000e+09,2.002000e+09,1.866000e+09,1.841000e+09,NaN